.header{
  border-bottom: 2px solid #333333;
  font-family: "FF Mark W05";
  font-size: 14px !important;
  font-weight: bold;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 100%;
  display: flex;
    justify-content: space-between;
    height: 40px;
    
    padding: 10px;
    padding-bottom: 25px;
    background-color: #111111;
}

  
  .navbar-list {
    display: flex;
    justify-content: center;
    margin-left: -800px;
    margin-top: 15px;
  }
  
  .navbar-list ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex 
  }
  
  .navbar-list li{
    padding: 0.5rem 20px;
    color: white;
  }

  .navbar-list li a{
    color:white;
    text-decoration: none;
  }

.left-content{
    margin-left: 20px;
  }

.btn-play {
  font-size: 12px;
    font-weight: 800;
    text-align: center;
    border-radius: 2px;
    line-height: 16px;
    height: 41px;
    padding: 12px 0;
    position: relative;
    width: 129px;
    z-index: 0;
    text-overflow: ellipsis;
    background-color: #FF4655 !important;
    margin-right: 40px;
    margin-top: 9px;
}